*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
}

body {
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  background-color: #fff;
  min-height: 100vh;
  position: relative;
  justify-content: center;
}

.container {
  width: 100%;
  padding: 0 72px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  position: relative;
  height: 300px;
}

.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.header__text {
  color: #747474;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.header__link {
  align-self: stretch;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 65px;
  z-index: 5;
}

.header__logo img {
  width: 410px;
  height: 234px;
  display: block;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 25px;
  align-self: stretch;
  align-items: center;
  height: 20px;
}

.nav-link {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  line-height: 20px;
}

.header__menu-btn {
  display: none;
}

.hero {
  display: grid;
  grid-template-columns: 760px 1fr;
  align-items: start;
  margin-left: -72px;
  margin-top: -91px;
  position: relative;
  z-index: 1;
}

.hero__image {
  width: 760px;
  height: 634px;
  overflow: hidden;
  position: relative;
  display: block;
}

.hero__image img {
  width: 760px;
  position: absolute;
  left: -20px;
  top: -150px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 100px;
  position: absolute;
  right: 22px;
  bottom: 23px;
}
.hero__title {
  display: flex;
  width: 549px;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
}
.big__text {
  color: #000;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}
.hero__title--light {
  align-self: stretch;
  color: #000;
  font-family: Roboto;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 122.449% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.hero__cta {
  display: flex;
  width: 138px;
  height: 138px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 88px;
  background: #000;
}

.circle {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  gap: 49px;
}

.partners__title {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.4px;
  text-transform: uppercase;
}

.partners__title--small {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.4px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.partners__logos {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.partners__track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.is-duplicate {
  display: none;
}

.logo-item {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about__container {
  display: flex;
  width: 1200px;
  height: 694px;
  margin: 127px auto 0;
  justify-content: space-between;
}

.about__content {
  display: flex;
  width: 683px;
  height: 420px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about__title {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  width: 392px;
}

.about__subtitle {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 54px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 690px;
}

.about__description {
  display: flex;
  width: 379px;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
}

.about__text {
  color: #747474;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.7px;
}

.about__awards {
  display: flex;
  width: 383px;
  height: 474px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  gap: 88px;
  right: 0;
  bottom: 0;
}

.awards__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
}

.awards-block__header {
  display: flex;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.awards-block__title {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.awards__line {
  height: 1px;
  align-self: stretch;
  background: #000;
}

.awards-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.awards-item {
  display: flex;
  width: 382.687px;
  justify-content: space-between;
  align-items: center;
}

.awards-item__name {
  color: #747474;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.7px; /* 130% */
}

/*-------------------------------------------*/
.works {
  display: flex;
  width: 1079px;
  flex-direction: column;
  align-items: center;
  margin: 150px auto 100px;
  gap: 20px;
}

.works__title {
  display: flex;
  width: 469px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.works__title--bold {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 120% */
  text-transform: uppercase;
}

.works__title--light {
  font-weight: 400;
}

.works__container {
  display: flex;
  align-items: flex-start;
}

.works__column-left {
  display: flex;
  width: 540px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.works__column-right {
  display: flex;
  width: 540px;
  padding-top: 80px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.works__item {
  display: flex;
  width: 540px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.works__image {
  width: 470px;
  height: 502px;
}

.works__image img {
  display: block; /* Убирает лишний зазор снизу */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works__name {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 136.364% */
  text-transform: uppercase;
}

.works__category {
  color: #747474;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.improve {
  padding-left: 194.25px;
  padding-bottom: 113.5px;
  display: flex;
  align-items: center;
  gap: 160px;
}

.improve__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.improve__title {
  color: #000;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.8px; /* 110% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.improve__title--light {
  font-weight: 400;
}

.improve__item {
  display: flex;
  min-width: 403px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.improve__item-title {
  color: #000;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 136.364% */
  text-transform: uppercase;
}

.improve__item-title--light {
  font-weight: 400;
}

.improve__item-text {
  align-self: stretch;
  color: #747474;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.7px; /* 130% */
}

.improve__image {
  margin-left: auto;
  flex-shrink: 0;
}

.improve__image-tablet {
  display: none;
}

.improve__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.opinion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 47px;
}

.opinion__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 95px;
}

.opinion__title-container {
  display: flex;
  width: 477px;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

.opinion__title-text {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 100% */
  text-transform: uppercase;
}

.opinion__title-text-light {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 142.857% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.opinion__cards {
  display: flex;
  height: 348px;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.opinion__item {
  display: flex;
  width: 460px;
  height: 348px;
  padding: 25px 50px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 5px;
  border: 1px solid #000;
  background: #fff;
  opacity: 0.32;
}
.item-central {
  opacity: 1;
}

.opinion__item-phrase {
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.4px; /* 132% */
}

.opinion__person {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  align-self: stretch;
}

.opinion__image {
  width: 80px;
  height: 80px;
}

.opinion__person-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.opinion__person-name {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  text-transform: uppercase;
}

.opinion__person-status {
  align-self: stretch;
  color: #747474;
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.1px; /* 130% */
}

.opinion__slider {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: stretch;
}

.opinion__dot-active {
  width: 10px;
  height: 10px;
  background: #222;
}

.opinion__dot {
  width: 10px;
  height: 10px;
  background: rgba(34, 34, 34, 0.4);
}

.team {
  padding-top: 100px;
  display: flex;
  overflow: hidden;
}
.team__side {
  display: flex;
  width: 720px;
  height: 582px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #000;
}
.team__container {
  display: flex;
  width: 451px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.team__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.team__header-text {
  color: #fff;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 120% */
  text-transform: uppercase;
}

.team__header-text-light {
  color: #fff;
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 171.429% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.team__statistics {
  display: flex;
  width: 423px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.team__item {
  display: flex;
  width: 423px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px 247px;
  flex-wrap: wrap;
}

.team__item-text {
  display: flex;
  width: 423px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.team__item-text-container {
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.team__line-1 {
  width: 338px;
  height: 2px;
  flex-shrink: 0;
  background: #fff;
}

.team__line-2 {
  width: 173px;
  height: 2px;
  flex-shrink: 0;
  background: #fff;
}

.team__line-3 {
  width: 296px;
  height: 2px;
  flex-shrink: 0;
  background: #fff;
}

.team__line-4 {
  width: 423px;
  height: 2px;
  flex-shrink: 0;
  background: #fff;
}

.team__caption {
  align-self: stretch;
  color: rgba(255, 255, 255, 0.7);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.team__image {
  width: 719px;
  min-height: 582px;
}

/*---------------------------*/
.facts {
  padding-top: 138px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.is-duplicate {
  display: none;
}

.facts__header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.facts__text-bold {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.8px; /* 110% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.facts__text-light {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.8px; /* 142.703% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.facts__achievements {
  display: flex;
  max-width: 1188px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 160px; */
}

.facts__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}

.facts__image img {
  display: block;
}

.facts__image {
  display: flex;
  align-items: center;
}

.facts__item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.facts__item-big-text {
  color: #000;
  font-family: Roboto;
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 94.34% */
  text-transform: uppercase;
}

.facts__item-description {
  color: #747474;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.7px; /* 130% */
}

.blog {
  padding-top: 169px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  gap: 52px;
}

.blog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.blog__header-text {
  color: #000;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 120% */
  text-transform: uppercase;
}

.blog__header-text-light {
  color: #000;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  text-transform: uppercase;
}

.blog__header-circle {
  display: flex;
  width: 138px;
  height: 138px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 88px;
  background: #000;
}

.block__header-circle-text {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.blog__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.blog__item {
  display: flex;
  width: 373px;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
}

.blog__image {
  height: 382px;
  align-self: stretch;
}

.blog__card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blog__card-lable {
  display: flex;
  padding: 7px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid #000;
  margin-bottom: 20px;
}

.blog__card-lable-text {
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 166.667% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.blog__card-description {
  display: flex-start;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.blog__card-description-line {
  color: #000;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.2px; /* 120% */
  text-transform: uppercase;
}

.blog__card-date {
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.1px; /* 130% */
}

.talk {
  margin-top: 120px;
  width: 100%;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.talk__central-contaier {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.talk__text-container {
  display: flex;
  width: 429px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex-shrink: 0;
}

.talk__main-text {
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.talk__text-bold {
  color: #fff;
  font-family: Roboto;
  font-size: 94px;
  font-style: normal;
  font-weight: 700;
  line-height: 93px; /* 98.936% */
  text-transform: uppercase;
}

.talk__text-light {
  color: #fff;
  font-family: Roboto;
  font-size: 66px;
  font-style: normal;
  font-weight: 400;
  line-height: 93px; /* 140.909% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.talk__contact-text {
  color: rgba(255, 255, 255, 0.5);
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px; /* 120% */
  align-self: stretch;
}

.talk__circle {
  display: flex;
  width: 138px;
  height: 138px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 88px;
  background: #fff;
}

.talk__circle-text {
  color: #020a0c;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact {
  margin: 73px auto 0;
  display: flex;
  width: 1200px;
  max-width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 43px;
}

.contact__socials {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.contact__image {
  width: 110px;
  height: 63px;
  flex-shrink: 0;
}

.contact__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.contact__apps {
  display: flex;
  align-items: flex-start;
  gap: 29px;
}

.contact__app-icon {
  width: 16px;
  height: 16px;
}

.contact__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.contact__address {
  display: flex;
  width: 199px;
  flex-direction: column;
  align-items: flex-start;
  gap: 51px;
}

.contact__address-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.contact__address-bold {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  text-transform: uppercase;
}

.contact__address-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact__address-light {
  color: #747474;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.7px; /* 130% */
}

.contact__address-button {
  display: flex;
  width: 154px;
  height: 53px;
  padding: 7px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #000;
  background: #000;
}

.contact__address-button-text {
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact__menu {
  display: flex;
  width: 135px;
  height: 219px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.contact__menu-map {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.contact__navigation-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
  list-style: none;
  padding: 0;
}

.contact__navigation-item {
}

.contact__navigation-item-text {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.contact__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.contact__info-text {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.contact__info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact__info-data {
  color: #747474;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
}

.contact__rights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.contact__dev-info {
  color: #747474;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.1px; /* 130% */
}

/*---------------------------------------------------------------------------*/

/* --- ПЛАНШЕТ (768px) --- */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 19px;
  }

  .header {
    height: auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .header__logo {
    position: absolute;
    margin-top: 41px;
    z-index: 3;
  }

  .header__menu-btn {
    display: block;
    background: none;
    border: none;
    padding: 0;
    outline: none;
  }

  .nav-list {
    display: none;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 0;
  }

  .hero__image {
    width: 730px;
    height: 627px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 206px;
    overflow: hidden;
    order: 1;
  }

  .hero__content {
    position: static;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    padding-top: 35px;
    order: 2;
  }

  .hero__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  .big__text {
    color: #000;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
  }

  .hero__title--light {
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .hero__cta {
    flex-shrink: 0;
  }

  .partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 105px;
    gap: 20px;
  }

  .partners__logos {
    width: 100%;
    padding: 20px 0;
  }

  .partners__track {
    width: max-content;
    justify-content: flex-start;
    gap: 60px;
    animation: scroll 10s linear infinite;
  }

  .is-duplicate {
    display: block;
  }

  .partners__track img {
    height: 94px;
    width: auto;
    flex-shrink: 0;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .about__container {
    display: grid;

    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    max-width: 730px;
    height: auto;
    margin: 72px auto 0;
    column-gap: 59px;
    row-gap: 15px;
  }

  .about__content {
    display: contents;
    height: auto;
    width: 100%;
    justify-content: flex-start;
    gap: 30px;
  }

  .about__holetitle {
    margin-bottom: 10px;
  }

  .about__holetitle {
    grid-column: 1 / span 2;
    margin-bottom: 20px;
  }

  .about__awards {
    height: auto;
    align-self: start;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 290px;
    align-items: flex-start;
    gap: 60px;
  }

  .awards-item {
    width: 290px;
    justify-content: space-between;
  }

  .works {
    width: 100%;
    margin: 79px 0 0 0;
    overflow: hidden;
    padding: 0;
  }

  .works__container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 10px 20px 40px 20px;
    gap: 20px;
  }

  .works__title {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .works__container::-webkit-scrollbar {
    display: none;
  }

  .works__column-left,
  .works__column-right {
    display: contents;
  }

  .works__item {
    flex: 0 0 50%;
    width: 50%;
    scroll-snap-align: center;
    gap: 20px;
  }

  .works__image {
    width: 100%;
    height: 400px;
  }

  .works__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .works__caption {
    text-align: center;
  }

  .improve {
    flex-direction: column;
    padding: 44px 20px;
    gap: 30px;
    align-items: center;
  }

  .improve__content {
    gap: 30px;
    width: 100%;
    max-width: 404px;
  }

  .improve__title {
    font-size: 48px;
    line-height: 52.8px;
    text-align: center;
  }

  .improve__item {
    min-width: 0;
    width: 100%;
  }

  .improve__image {
    display: none;
  }

  .improve__image-tablet {
    display: block !important;
    width: 90%;
    height: auto;
    margin: auto 0;
  }

  .improve__image-tablet img {
    display: block;
    width: 100%;
    height: auto;
  }

  .opinion {
    padding-top: 62px;
  }

  .opinion__container {
    gap: 90px;
    width: 100%;
  }


  .opinion__title-container {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .opinion__cards {
    display: flex !important;
    flex-direction: row !important;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    height: auto !important;
  }

  .opinion__cards::-webkit-scrollbar {
    display: none;
  }

  .opinion__item {
    flex: 0 0 55%;
    width: 55%;
    height: auto !important;
    min-height: 350px;

    scroll-snap-align: center;
    opacity: 1 !important;
    padding: 30px 20px !important;
    box-sizing: border-box;
  }

  .opinion__cards::before,
  .opinion__cards::after {
    content: "";
    flex: 0 0 22.5%;
  }

  .opinion__slider {
    margin-top: 0px;
  }

  .opinion__dot {
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(34, 34, 34, 0.4);
    text-decoration: none;
    transition: background 0.3s;
  }

  .opinion__dot:hover,
  .opinion__dot:focus {
    background: #222;
    outline: none;
  }

  .team {
    padding-top: 75px;
    display: block;
  }

  .team__container {
    display: flex;
    align-items: flex-start;
  }

  .team__image {
    display: none !important;
  }

  .team__side {
    width: 100% !important;
    height: auto !important;
    padding: 90px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team__container {
    width: 451px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    gap: 60px;
  }

  .team__statistics {
    width: 423px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    gap: 30px;
  }

  .team__item-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .team__item {
    width: 100%;
    justify-content: flex-start;
  }

  .facts {
    padding-top: 90px;

  }

  .is-duplicate {
    display: none !important;
  }

  .facts__achievements {
    display: block !important;
    width: 100% !important;
  }

  .facts__track {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: space-between;
    align-items: flex-end;

    width: 100% !important;
    max-width: 677px;
    margin: 0 auto;

    animation: none !important;
  }

  .facts__item {
    display: flex !important;
    flex-direction: column !important;
 
    align-items: center !important;
    text-align: center;
    gap: 14px;
    flex-shrink: 0;
  }

  .facts__item-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100%;
  }

  
  .facts__track .facts__item:nth-child(n + 5) {
    display: none !important;
  }

  .blog {
    max-width: 100% !important;
    padding: 90px 0 0 0 !important; 
    overflow: hidden;
    gap: 52px;
  }

  
  .blog__header {
    padding: 0 20px; 
    box-sizing: border-box;
  }

 
  .blog__cards {
    display: flex !important;
    flex-direction: row !important; 
    flex-wrap: nowrap !important; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    justify-content: flex-start !important;
    gap: 30px; 
    padding-bottom: 20px; 
    align-self: stretch;
  }


  .blog__cards::-webkit-scrollbar {
    display: none;
  }

  .blog__item {
    flex: 0 0 60% !important; 
    width: 60% !important;
    scroll-snap-align: center; 

    display: flex;
    flex-direction: column;
    gap: 30px; 
  }


  .blog__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }


  .blog__cards::before,
  .blog__cards::after {
    content: "";
    flex: 0 0 12.5%;
    display: block;
  }

  .talk{
    margin-top: 100px;
  }

  .talk__central-contaier {
    width: 100% !important; 
    max-width: 100% !important;
    padding: 0 15px; 
    box-sizing: border-box; 
  }


  .contact {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 15px; 
    margin-top: 60px; 
    box-sizing: border-box;
  }

  .contact__socials {
    width: 100% !important;
  }
}

/* --- ТЕЛЕФОН (320px) --- */
@media screen and (max-width: 480px) {
  html,
  body {
    overflow-x: hidden;
  }

  .container {
    padding: 0 6px;
  }

  .header {
    height: auto;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex;
  }

  .header__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
  }

  .header__text {
    color: #747474;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    align-self: stretch;
  }

  .header__link {
    color: #000;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    align-self: stretch;
  }

  .header__menu-btn {
    display: block;
    background: none;
    border: none;
    padding: 0;
    width: 21px;
    height: 21px;
  }

  .header__menu-btn img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }

  .header__logo {
    position: absolute;
    transform: none;
    width: 156px;
    height: 89px;
    display: block;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .header__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .nav-list {
    display: none;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 0;
  }

  .hero__image {
    display: none;
  }

  .hero__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    padding-top: 135px;
  }

  .hero__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  .big__text {
    color: #000;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
  }

  .hero__title--light {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .hero__cta {
    position: absolute;
    flex-shrink: 0;
    right: 6px;
    bottom: 0;
    width: 69px;
    height: 69px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 88px;
    background: #000;
    flex-shrink: 0;
  }

  .circle {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 95px;
    gap: 20px;
  }

  .partners__logos {
    width: 100%;
    padding: 20px 0;
  }

  .partners__track {
    width: max-content;
    justify-content: flex-start;
    gap: 60px;
    animation: scroll 10s linear infinite;
  }

  .is-duplicate {
    display: block;
  }

  .partners__track img {
    height: 94px;
    width: auto;
    flex-shrink: 0;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 304px;
    margin: 16px auto 0;
    height: auto;
    gap: 77px;
  }

  .about__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
  }

  .about__holetitle {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    text-align: center;
  }

  .about__title {
    color: #000;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
  }

  .about__subtitle {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
    max-width: 100%;
    text-align: center;
  }

  .about__description {
    width: 100%;
    text-align: left;
    gap: 21px;
  }

  .about__text {
    color: #747474;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.7px;
  }

  .about__awards {
    align-self: center;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 290px;
    max-height: 445px;
    align-items: center;
    gap: 60px;
  }

  .awards-item {
    width: 290px;
    justify-content: space-between;
  }

  .works {
    margin: 98px 0 80px 0;
    overflow: hidden;
  }

  .works__container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    gap: 20px;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .works__title {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .works__title--bold {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }

  .works__title--light {
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
  }

  .works__container::before,
  .works__container::after {
    content: "";

    flex: 0 0 25%;
    scroll-snap-align: none;
  }

  .works__item {
    flex: 0 0 50%;
    width: 50%;
    scroll-snap-align: center;
  }

  .works__image {
    width: 100%;
    height: auto;
    aspect-ratio: 0.93 / 1;
  }

  .works__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .works__name {
    font-size: 16px;
    line-height: 16px;
  }

  .works__category {
    font-size: 14px;
    line-height: 23.4px;
  }

  .improve {
    flex-direction: column;
    padding: 0 7px 0 7px;
    gap: 30px;
    align-items: center;
  }

  .improve__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 100%;
  }

  .improve__title {
    font-size: 36px;
    line-height: 40px;
    text-align: left;
  }

  .improve__item {
    min-width: 0;
    width: 100%;
  }

  .improve__image-tablet {
    display: none !important;
  }

  .improve__image {
    display: none !important;
  }

  .opinion {
    padding-top: 77px;
    gap: 25px;
  }

  .opinion__title-text {
    font-size: 32px !important;
    line-height: 1.1 !important;
  }

  .opinion__title-text-light {
    font-size: 24px !important;
    line-height: 1.1 !important;
  }

  .opinion__item-phrase {
    font-size: 19px !important;
    line-height: 1.4 !important;
  }

  .opinion__item {
    height: auto !important;
    min-height: auto !important;
    gap: 12px !important;

    flex: 0 0 92% !important;
    width: 92% !important;
    padding: 12px 13px !important;
  }

  .opinion__cards {
    height: auto !important;
    align-items: stretch !important;
  }

  .opinion__cards::before,
  .opinion__cards::after {
    content: "";
    flex-shrink: 0 !important;
    flex-basis: 4% !important;
  }

  .opinion__container {
    gap: 32px;
  }

  .team {
    padding-top: 72px;
    display: block;
  }

  .team__image {
    display: none !important;
  }

  .team__side {
    width: 100% !important;
    height: auto !important;
    background: #000;
    padding: 18.5px 16px !important;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }

  .team__container {
    width: 288px !important;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
  }

  .team__header {
    display: flex;
    align-items: baseline;
    gap: 10px !important;
  }

  .team__header-text {
    font-size: 36px !important;
    font-weight: 700;
    line-height: 72px !important;
    color: #fff;
  }

  .team__header-text-light {
    font-size: 28px !important;
    font-weight: 400;
    line-height: 72px !important;
    letter-spacing: 1px;
    color: #fff;
  }

  .team__statistics {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 30px !important;
  }

  .team__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .team__item-text {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
  }

  .team__item-text-container {
    font-size: 15px !important;
    line-height: 20px !important;
  }

  .team__line-1,
  .team__line-2,
  .team__line-3,
  .team__line-4 {
    height: 2px !important;
    background: #fff;
  }

  .team__line-1 {
    width: 230px !important;
  }
  .team__line-2 {
    width: 118px !important;
  }
  .team__line-3 {
    width: 200px !important;
  }
  .team__line-4 {
    width: 100% !important;
  }

  .team__caption {
    font-size: 13px !important;
    line-height: 23.4px !important;
    color: rgba(255, 255, 255, 0.7) !important;
    text-align: left;
  }

  .facts {
    padding-top: 90px;
    gap: 35px;
  }

  .facts__achievements {
    display: block !important;
    width: 100% !important;
    overflow: hidden !important;
  }

  .facts__track {
    display: flex !important;
    flex-wrap: nowrap !important;
    width: max-content !important;
    align-items: flex-end;


    animation: factsScroll 3.6s linear infinite !important;
    will-change: transform;
  }

  .facts__item {
    flex-shrink: 0 !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;

    width: 140px !important;
    margin-right: 40px !important;

    box-sizing: border-box;
  }


  .is-duplicate {
    display: flex !important;
  }

  .blog {
    max-width: 300px !important; 
    margin: 80px auto 0 !important;
    padding: 0 !important;
    gap: 30px !important;
  }

  .blog__header {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100%;
    padding: 0 !important;
  }

  .blog__header-text {
    font-size: 40px !important; 
    line-height: 72px !important;
    font-weight: 700;
  }

  .blog__header-text-light {
    font-size: 40px !important;
    font-weight: 400;
  }


  .blog__header-circle {
    width: 85px !important; 
    height: 85px !important;
    border-radius: 50% !important;
    gap: 0 !important;
  }

  .block__header-circle-text {
    font-size: 11px !important;
    line-height: 20px !important;
  }

  
  .blog__cards {
    display: flex !important;
    flex-direction: row !important;
    overflow-x: auto !important;
    scroll-snap-type: x mandatory !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    width: 100vw !important; 
    margin-left: -10px; 
    gap: 20px !important;

  }

  .blog__cards::-webkit-scrollbar {
    display: none;
  }

  
  .blog__cards::before,
  .blog__cards::after {
    content: "";
    flex: 0 0 calc((100vw - 261px) / 2);
    flex-shrink: 0 !important;
  }


  .blog__item {
    flex: 0 0 261px !important;
    width: 261px !important;
    scroll-snap-align: center !important;
    gap: 0 !important; 
  }

  .blog__image {
    width: 261px !important;
    height: 267px !important;
    margin-bottom: 24px !important;
  }

  .blog__image img {
    border-radius: 12px;
  }

 
  .blog__card-lable {
    margin-bottom: 23px !important; 
    padding: 5px 12px !important;
    width: fit-content;
  }

  
  .blog__card-description {
    margin-bottom: 20px !important; 
    gap: 0 !important;
  }

  .blog__card-description-line {
    font-size: 20px !important; 
    line-height: 31.2px !important;
    display: block;
  }


  .blog__card-date {
    font-size: 16px !important;
  }

  .talk {
    margin-top: 50px !important;
    padding: 0 !important; 
    width: 100%; 
  }

  .talk__central-contaier {
    width: 306px !important; 
    height: 280px !important; 
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 0 auto !important; 
    padding: 0 !important;
  }


  .talk__text-container {
    /* Из скриншота */
    gap: 10px !important;
    margin: 0 !important;
    width: auto !important; 
  }

  .talk__main-text {
    gap: 8px !important; 
    align-items: baseline !important;
  }

  .talk__text-bold {
    font-size: 40px !important; 
    line-height: 55px !important;
  }

  .talk__text-light {
    font-size: 32px !important; 
    line-height: 55px !important;
  }

  .talk__contact-text {
    font-size: 16px !important; 
    line-height: 25.2px !important;
    opacity: 0.5; 
  }


  .talk__circle {
    display: flex !important; 
    flex-shrink: 0 !important; 

    width: 85px !important; 
    height: 85px !important;
    background: #fff; 
    border-radius: 50%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }

  
  .talk__circle-text {
    color: #000 !important; 
    font-size: 10px !important; 
    line-height: 12px;
    text-align: center;
  }

  
  .talk__text-container {
    flex-shrink: 1; 
    width: auto !important;
  }

  .contact {
    width: 306px !important; 
    margin: 90px auto 0 !important;
    padding: 0 !important;
    gap: 43px !important; 
  }

  .contact__socials {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
  }

  .contact__image {
    width: 110px !important;
    height: auto !important;
  }

  .contact__apps {
    display: flex !important;
    gap: 16px !important; 
    width: 144px !important;
    justify-content: flex-end;
  }

  
  .contact__container {
    display: flex !important;
    flex-wrap: wrap !important; 
    justify-content: space-between !important;
    align-items: stretch;
  }

  
  .contact__address {
    display: flex;
    flex-direction: column;
    width: 157px;
  }

  .contact__address-bold,
  .contact__menu-map,
  .contact__info-text {
    font-size: 16px !important; 
    line-height: 20px !important;
    margin-bottom: 10px !important;
  }

  .contact__address-light {
    font-size: 15px !important;
    line-height: 18px !important;
  }

 
  .contact__address-button {
    margin-top: auto !important;
    width: 116px !important; 
    height: 44px !important;
    border-radius: 30px !important;
    padding: 0 !important;
  }

  .contact__address-button-text {
    font-size: 11px !important; 
    letter-spacing: 1px;
  }

  .contact__menu {
    width: 110px !important; 
    height: auto !important;
  }

  .contact__navigation-list {
    gap: 0 !important;
  }

  .contact__navigation-item-text {
    font-size: 15px !important;
    line-height: 23px !important;
  }

 
  .contact__info {
    width: 100% !important;
    margin-top: 40px !important; 
    display: flex !important;
    flex-direction: column !important;
  }

  .contact__info-data {
    font-size: 15px !important;
    line-height: 18px !important;
  }


  .contact__rights {
    margin-top: 40px !important;
    padding-bottom: 20px;
  }

  .contact__dev-info {
    font-size: 12px !important;
    text-align: left;
  }
}

@keyframes factsScroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {

    transform: translate3d(-50%, 0, 0);
  }
}
