* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
}

body {
    background-color: #f0f0f0; 
    font-family: 'Roboto', sans-serif;
}


.wrapper {
    width: 1440px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    position: relative;
}

.container {
    width: 100%;
    padding: 0 72px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
    position: relative;
    height: 300px;
}

.header__info {
    display: flex;
    flex-direction: column;
    gap: 10px;              
}

.header__text {
    color: #747474;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 5px;
}

.header__link {
    color: #000;
    font-size: 18px;
    text-decoration: underline;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 65px;
    z-index: 5;
}

.header__logo img {
    width: 410px;  
    height: 234px;
    display: block;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 25px;  
  align-items: center;
  align-self: stretch;
  height: 20px;
}

.nav-link {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700; 
  text-decoration: none;
  line-height: 20px;
}


.hero {
  display: grid;
  grid-template-columns: 760px 1fr;
  align-items: start;
  margin-left: -72px;
  margin-top: -91px;
  position: relative;
  z-index: 1;
}

.hero__image {
  width: 760px;
  height: 634px;
  overflow: hidden;
  position: relative;
  display: block;
}

.hero__image img {
  width: 760px;
  position: absolute;
  left: -20px;
  top: -150px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 100px;
  position: absolute;
  right: 22px;
  bottom: 23px;
}
.hero__title {
  display: flex;
  width: 549px;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
}
.big__text {
  color: #000;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}
.hero__title--light {
  align-self: stretch;
  color: #000;
  font-family: Roboto;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 122.449% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.hero__cta {
  display: flex;
  width: 138px;
  height: 138px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 88px;
  background: #000;
}

.circle {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  gap: 49px;
}

.partners__title {
  color: #000;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400; 
  line-height: 32.4px; 
  text-transform: uppercase;
}

.partners__title--small {
 
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.4px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.partners__logos {
  display: flex;
  width: 1000px; 
  justify-content: space-between;
  align-items: center;
}

.logo-item {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about {
  margin-top: 127px;
   
}


.about__grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  column-gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
}


.about__title {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px; 
  text-transform: uppercase;
  width: 392px; 
}

.about__subtitle {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 54px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 690px; 
}


.about__description {
  margin-top: 32px; 
  display: flex;
  flex-direction: column;
  gap: 21px; 
}

.about__text {
  color: #747474; 
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 24.7px; 
  max-width: 379px; 
}


.about__awards {
  width: 383px; 
  display: flex;
  flex-direction: column;
  gap: 72px; 
  padding-top: 217px;
  justify-self: end; 
} 


.awards-block__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #000; 
  padding-bottom: 16px;
  margin-bottom: 16px; 
}

.awards-block__title {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}

.awards-block__total {
  margin: 0;
  font-size: 24px; 
  font-weight: 700;
}


.awards-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.awards-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
}

.awards-item__name {
  color: #747474;
  font-size: 19px;
  line-height: 24.7px;
}

.awards-item__value {
  color: #747474;
  font-size: 18px;
  letter-spacing: 1px;
}


.works {
  margin-top: 152px; 
  padding-bottom: 0px;
}

.works__title {
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px; 
}

.works__title--light {
  font-weight: 400;
}

.works__container {
  display: flex;
  justify-content: center;
  gap: 22.53px; 
  margin: 0 auto;
}


.works__column {
  display: flex;
  flex-direction: column;
  gap: 24px; 
}

.works__column--right {
  margin-top: 100px; 
}

.works__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.works__image {
  width: 470px;
  height: 502px;
  overflow: hidden;
  margin-bottom: 43.5px; 
}

.works__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.works__name {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 4px;
}

.works__category {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #747474;
  line-height: 1.1;
}

.improve {
  margin-top: 112.7px;
  padding-bottom: 120px;
}

  .improve__container{
  display:flex;
  align-items:flex-start;
  max-width:1440px;
  margin:0 auto;
}

.improve__content {
  max-width: 428px;
  padding-top: 111.5px; 
  margin-left: 197px;  
  flex-shrink: 0;
}

.improve__title {
  font-size: 48px;
  line-height: 52.8px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 45px; 
  letter-spacing: 1px;
}

.improve__item {
  margin-bottom: 39px; 
}

.improve__item:last-child {
margin-bottom: 0;
}

.improve__title--light {
font-weight: 400;  
}


.improve__item-title {
  color: #000;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.improve__item-title--light {
font-weight: 400;
}

.improve__item-text {
  font-size: 19px;
  line-height: 24.7px; 
  color: #747474;
  max-width: 428px; 
}

.improve__image {
  margin-left: auto; 
  flex-shrink: 0;
}

.improve__image img {
width: 100%;
height: 100%;
object-fit: contain; 
display: block;
}
